<div class="product-form-title">
    <h1 class="text-center main-content-label mt-4">{{title}}</h1>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-11 m-auto">
            <form [formGroup]="publisherForm">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Tên NXB</mat-label>
                    <input type="text"
                           formControlName="tenNxb"
                           matInput
                    >
                    <mat-error class="text-danger"
                               *ngIf="!publisherForm.get('tenNxb')?.valid && publisherForm.get('tenNxb')?.touched">
                        Tên NXB không được để trống
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Địa chỉ</mat-label>
                    <input type="text"
                           formControlName="diaChi"
                           matInput
                    >
                    <mat-error class="text-danger"
                               *ngIf="!publisherForm.get('diaChi')?.valid && publisherForm.get('diaChi')?.touched">
                        Địa chỉ không được để trống
                    </mat-error>
                </mat-form-field>
                <div class="form-group">
                    <mat-label>Trạng thái</mat-label>
                    <mat-radio-group formControlName="trangThai">
                        <mat-radio-button [value]="1" class="ms-4" [checked]="publisherForm.value.trangThai == 1">
                            Hoạt động
                        </mat-radio-button>
                        <mat-radio-button [value]="0" class="ms-4" [checked]="publisherForm.value.trangThai != 1">
                            Không hoạt động
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Mô tả</mat-label>
                    <textarea type="text"
                              formControlName="moTa"
                              matInput
                              rows="7"
                    ></textarea>
                </mat-form-field>
                <div class="action-button mt-3 d-flex justify-content-center gap-3">
                    <button mat-raised-button color="warn" (click)="onDismiss()">
                        <span><span class="fe fe-x mg-r-2"></span>Đóng</span>
                    </button>
                    <button mat-raised-button color="primary" (click)="save()">
                        <span><span class="fe fe-check mg-r-2"></span>Lưu</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
